body{
    background-color:#ffffff ;
    background-size: 148%; 
}

.fh{
    color: rgb(235, 236, 236);
    background-color:  blueviolet;
    font-family: 'verdana';
    font: weight 10;
    padding: 15px 15px;
    font-size: 30px;
}
button#jk{
    color: rgb(255, 255, 255);
    background-color:inherit;
    font-family: 'verdana';
    font: weight 5;
    padding: 5px 5px;
    font-size: 30px;
    border:0;
    cursor: pointer;
    display: inline-block;
    border-bottom: 2px solid black;
    margin: 0 auto;
    display: block;
}
h1{
    color:#000000;
    font-size: 3em;
    font-family: 'verdana';
    text-align: center;
}
form#forma{
    margin: 0 auto;
}
.kl{
    display: flex;
    flex-direction:row;
    justify-content:center;
    margin-block: 1em;
}








.lock{
box-sizing: border-box;

position: absolute;
width: 1920px;
height: 80px;
left: 0px;
top: 0px;

background: #ffffff;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Rectangle 2 */

.lock2{
display: block;
position: absolute;
width: 154px;
height: 66px;
left: 6px;
top: 7px;

background: #000000;
border-radius: 4px;

}
/* Rectangle 3 */

.lock3{
display: block;
position: absolute;
width: 154px;
height: 66px;
left: 173px;
top: 7px;
background: #000000;
border-radius: 4px;

}
/* Rectangle 5 */

.lock4{
display: block;
position: absolute;
width: 154px;
height: 66px;
left: 507px;
top: 7px;

background: #000000;
border-radius: 4px;

}
/* Rectangle 4 */

.lock5{
display: block;
position: absolute;
width: 154px;
height: 66px;
left: 340px;
top: 7px;

background: #000000;
border-radius: 4px;

}
/* image 1 */

.lock6{
    display: block;
position: absolute;
width: 108px;
height: 33px;
left: 29px;
top: 24px;

background: url(./image1.png);
}

/* image 4 */

.lock7{
    display: block;
position: absolute;
width: 129px;
height: 26px;
left: 182px;
top: 27px;

background: url(./img222.png);
}

/* image 3 */

.lock8{
display: block;
position: absolute;
width: 133px;
height: 56px;
left: 351px;
top: 12px;

background: url(img33.png);

}
/* image 5 */
.lock9{
    display: block;
position: absolute;
width: 133px;
height: 55px;
left: 516px;
top: 13px;

background: url(img4.png);
}







img.kop{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:200px;
    height:200px;
}


/* Rectangle 1 */

.ghgf{
display: block;
width: 1764px;
height: 322px;
top: 379px;
margin: 0 auto;

background: #000000;
border-radius: 4px;
}

/* Welcome to famrop discussions */

.ghgg{
text-align: center;
top: 379px;

font-family: 'Noto Nastaliq Urdu';
font-style: normal;
font-weight: 400;

color: #000000;

mix-blend-mode: hard-light;
filter: blur(2px);
}